USE [master]
GO
/****** Object:  Database [dbVUZ]    Script Date: 30.01.2023 22:29:31 ******/
CREATE DATABASE [dbVUZ] ON  PRIMARY
( NAME = N'dbVUZ', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS2008\MSSQL\DATA\dbVUZ.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON
( NAME = N'dbVUZ_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS2008\MSSQL\DATA\dbVUZ_log.LDF' , SIZE = 3456KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbVUZ].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [dbVUZ]
GO
/****** Object:  User [vuz]    Script Date: 30.01.2023 22:29:31 ******/
CREATE USER [vuz] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[vuz]
GO
/****** Object:  Schema [vuz]    Script Date: 30.01.2023 22:29:31 ******/
CREATE SCHEMA [vuz]
GO
/****** Object:  Table [vuz].[ADDRESS]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[ADDRESS](
	[ADDRESS_ID] [int] IDENTITY(1,1) NOT NULL,
	[SETTLEMENT_ID] [int] NULL,
	[ADDRESS] [varchar](75) NULL,
 CONSTRAINT [PK_ADDRESS] PRIMARY KEY CLUSTERED
(
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[AREA]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[AREA](
	[AREA_ID] [int] IDENTITY(1,1) NOT NULL,
	[REGION_ID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AREA] PRIMARY KEY CLUSTERED 
(
	[AREA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[BASE_DISCIPLINE]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[BASE_DISCIPLINE](
	[BASE_DISCIPLINE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBFACULTY_ID] [int] NOT NULL,
	[NAME] [varchar](75) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[BENEFITS]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[BENEFITS](
	[BENEFIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[CARD]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[CARD](
	[CARD_ID] [int] IDENTITY(1,1) NOT NULL,
	[COURSE] [tinyint] NOT NULL,
	[SEMESTER] [bit] NOT NULL,
	[YEAR] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[COUNTRY]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[COUNTRY](
	[COUNTRY_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[DEPARTAMENT]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[DEPARTAMENT](
	[DEPARTMANENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DEPARTAMENT] PRIMARY KEY CLUSTERED 
(
	[DEPARTMANENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[DISCIPLINE]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[DISCIPLINE](
	[DISCIPLINE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EDUCATION_PLAN_ID] [int] NULL,
	[BASE_DISCIPLINE_ID] [int] NULL,
	[HOURS] [smallint] NOT NULL,
	[Independent_Hours] [smallint] NULL,
	[Audience_Hours] [smallint] NULL,
	[SEMESTER] [bit] NOT NULL,
	[COURSE] [tinyint] NOT NULL,
	[YEAR] [smallint] NOT NULL,
	[CHECKING_FORM] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[DISCIPLINE_TEACHER]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[DISCIPLINE_TEACHER](
	[DISCIPLINE_TEACHER_ID] [int] IDENTITY(1,1) NOT NULL,
	[TEACHER_ID] [int] NOT NULL,
	[DISCIPLINE_ID] [int] NOT NULL,
 CONSTRAINT [PK_DISCIPLINE_TEACHER] PRIMARY KEY CLUSTERED 
(
	[DISCIPLINE_TEACHER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[EDUCATION_PLAN]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[EDUCATION_PLAN](
	[EDUCATION_PLAN_ID] [int] IDENTITY(1,1) NOT NULL,
	[SPECIALITY_ID] [int] NOT NULL,
	[DATA_START] [datetime] NULL,
	[DATA_END] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[EXAM_LIST]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[EXAM_LIST](
	[EXAM_LIST_ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMBER] [varchar](15) NULL,
	[TYPE] [tinyint] NULL,
	[DATE_CREATION] [datetime] NOT NULL,
 CONSTRAINT [PK_EXAM_LIST] PRIMARY KEY CLUSTERED 
(
	[EXAM_LIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[EXAM_MARK]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[EXAM_MARK](
	[EXAM_MARK_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXAM_LIST_ID] [int] NOT NULL,
	[STUDENT_GROUP_ID] [int] NOT NULL,
	[DISCIPLINE_ID] [int] NOT NULL,
	[STUDENT_ID] [int] NOT NULL,
	[VALUE] [tinyint] NULL,
 CONSTRAINT [PK_EXAM_MARK] PRIMARY KEY CLUSTERED 
(
	[EXAM_MARK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[FACULTY]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[FACULTY](
	[FACULTY_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[SHORT_NAME] [varchar](7) NOT NULL,
	[FACULTY_CODE] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[FACULTY_GROUP_CODE]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[FACULTY_GROUP_CODE](
	[FACULTY_GROUP_CODE_ID] [int] IDENTITY(1,1) NOT NULL,
	[FACULTY_ID] [int] NULL,
	[COMMENT] [varchar](50) NULL,
 CONSTRAINT [PK_FACULTY_GROUP_CODE] PRIMARY KEY CLUSTERED 
(
	[FACULTY_GROUP_CODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[HOSPICE]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[HOSPICE](
	[HOSPICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](75) NULL,
	[STREET] [varchar](50) NULL,
	[HOUSE] [smallint] NULL,
	[BUILDING] [smallint] NULL,
 CONSTRAINT [PK_HOSPICE] PRIMARY KEY CLUSTERED 
(
	[HOSPICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[LANGUAGES]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[LANGUAGES](
	[LANGUAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[MARK]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[MARK](
	[MARK_ID] [int] IDENTITY(1,1) NOT NULL,
	[DISCIPLINE_ID] [int] NOT NULL,
	[EXAM_LIST_ID] [int] NULL,
	[STUDENT_ID] [int] NOT NULL,
	[STUDENT_GROUP_ID] [int] NOT NULL,
	[VALUE] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[NOTE]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[NOTE](
	[NOTE_ID] [int] IDENTITY(1,1) NOT NULL,
	[STUDENT_ID] [int] NOT NULL,
	[CARD_ID] [int] NOT NULL,
	[STUDENT_GROUP_ID] [int] NOT NULL,
	[FREE_ATTENDANCE] [bit] NULL,
	[REBUKE] [varchar](12) NULL,
	[LAST_EXAM_DATE] [datetime] NULL,
	[SESSION_PROLONGATION_DATE] [datetime] NULL,
	[SESSION_CLOSING_DATE] [datetime] NULL,
	[STUDENTGRANT] [varchar](7) NULL,
	[PRACTICE] [varchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[OFFICE_ORDER]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[OFFICE_ORDER](
	[OFFICE_ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_CATEGORY_ID] [int] NOT NULL,
	[PATH_TO_FILE] [varchar](100) NULL,
	[EXTERNAL_NUMBER] [varchar](25) NULL,
	[REASON] [varchar](512) NULL,
	[SUBJECT] [varchar](2048) NULL,
	[DATE_ORDER] [datetime] NULL,
	[ISSIGNED] [bit] NULL,
	[SIGNER_POSITION] [varchar](50) NULL,
	[SIGNER_NAME] [varchar](100) NULL,
	[MAKER_POSITION] [varchar](50) NULL,
	[MAKER_NAME] [varchar](100) NULL,
	[COORDINATOR1_POSITION] [varchar](50) NULL,
	[COORDINATOR1_NAME] [varchar](100) NULL,
	[COORDINATOR2_POSITION] [varchar](50) NULL,
	[COORDINATOR2_NAME] [varchar](100) NULL,
	[COORDINATOR3_POSITION] [varchar](50) NULL,
	[COORDINATOR3_NAME] [varchar](100) NULL,
	[COORDINATOR4_POSITION] [varchar](50) NULL,
	[COORDINATOR4_NAME] [varchar](100) NULL,
	[COORDINATOR5_POSITION] [varchar](50) NULL,
	[COORDINATOR5_NAME] [varchar](100) NULL,
	[COORDINATOR6_POSITION] [varchar](50) NULL,
	[COORDINATOR6_NAME] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[ORDER_CATEGORY]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[ORDER_CATEGORY](
	[ORDER_CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_CATEGORY] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[PERSONAL]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[PERSONAL](
	[PERSONAL_ID] [int] IDENTITY(1,1) NOT NULL,
	[POSITION_ID] [int] NOT NULL,
	[DEPARTMANENT_ID] [int] NOT NULL,
	[NAME] [varchar](25) NULL,
	[PATRONYMIC] [varchar](25) NULL,
	[FAMILY_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_PERSONAL] PRIMARY KEY CLUSTERED 
(
	[PERSONAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[POSITION]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[POSITION](
	[POSITION_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
 CONSTRAINT [PK_POSITION] PRIMARY KEY CLUSTERED 
(
	[POSITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[REGION]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[REGION](
	[REGION_ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_REGION] PRIMARY KEY CLUSTERED 
(
	[REGION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[SETTLEMENT]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[SETTLEMENT](
	[SETTLEMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SETTLEMENT_DEFINITION_ID] [int] NULL,
	[AREA_ID] [int] NULL,
	[NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SETTLEMENT] PRIMARY KEY CLUSTERED 
(
	[SETTLEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[SETTLEMENT_DEFINITION]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[SETTLEMENT_DEFINITION](
	[SETTLEMENT_DEFINITION_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](25) NOT NULL,
 CONSTRAINT [PK_SETTLEMENT_DEFINITION] PRIMARY KEY CLUSTERED 
(
	[SETTLEMENT_DEFINITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[SPECIALITY]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[SPECIALITY](
	[SPECIALITY_ID] [int] IDENTITY(1,1) NOT NULL,
	[FACULTY_ID] [int] NULL,
	[NUMBER] [varchar](10) NOT NULL,
	[NAME] [varchar](75) NOT NULL,
	[SHORTNAME] [varchar](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[STUDENT]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[STUDENT](
	[STUDENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[STUDENT_GROUP_ID] [int] NULL,
	[ADDRESS_ID] [int] NOT NULL,
	[HOSPICE_ID] [int] NULL,
	[STUDENT_STATUS_ID] [int] NOT NULL,
	[BENEFIT_ID] [int] NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[LANGUAGE_ID] [int] NOT NULL,
	[NAME] [varchar](20) NOT NULL,
	[PATRONYMIC] [varchar](25) NOT NULL,
	[FAMILY_NAME] [varchar](50) NOT NULL,
	[STUDENT_NUMBER] [varchar](6) NULL,
	[REGISTRATION] [varchar](150) NULL,
	[PASSPORT_DATA] [varchar](150) NOT NULL,
	[Passport_Number] [varchar](15) NULL,
	[Passport_Series] [varchar](15) NULL,
	[Passport_Delivery] [varchar](150) NULL,
	[HOSPICE_NEEDED] [bit] NOT NULL,
	[SEX] [bit] NOT NULL,
	[CONTRACT] [bit] NOT NULL,
	[COURSE_LEADER] [bit] NULL,
	[Prof_Leader] [bit] NULL,
	[LAST_EDUCATION_PLACE] [varchar](20) NULL,
	[YEAR_STARTING] [datetime] NOT NULL,
	[START_SPECIALITY_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[STUDENT_EVENT]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[STUDENT_EVENT](
	[EVENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[COMMENT] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[STUDENT_GROUP]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[STUDENT_GROUP](
	[STUDENT_GROUP_ID] [int] IDENTITY(1,1) NOT NULL,
	[PERSONAL_ID] [int] NULL,
	[SPECIALITY_ID] [int] NOT NULL,
	[COURSE] [tinyint] NOT NULL,
	[EDUCATION_DURATION] [bit] NOT NULL,
	[NUMBER] [varchar](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[STUDENT_HISTORY]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[STUDENT_HISTORY](
	[STUDENT_HISTORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[EVENT_ID] [int] NOT NULL,
	[USER_ID] [int] NULL,
	[OFFICE_ORDER_ID] [int] NULL,
	[STUDENT_ID] [int] NULL,
	[COMMENT] [varchar](250) NULL,
	[DATE_EVENT] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[STUDENT_STATUS]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[STUDENT_STATUS](
	[STUDENT_STATUS_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_STUDENT_STATUS] PRIMARY KEY CLUSTERED 
(
	[STUDENT_STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[SUBFACULTY]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[SUBFACULTY](
	[SUBFACULTY_ID] [int] IDENTITY(1,1) NOT NULL,
	[FACULTY_ID] [int] NULL,
	[NAME] [varchar](75) NOT NULL,
	[SUBFACULTY_NUMBER] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SUBFACULTY] PRIMARY KEY CLUSTERED 
(
	[SUBFACULTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[TEACHER]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[TEACHER](
	[TEACHER_ID] [int] IDENTITY(1,1) NOT NULL,
	[PERSONAL_ID] [int] NOT NULL,
	[SUBFACULTY_ID] [int] NOT NULL,
 CONSTRAINT [PK_TEACHER] PRIMARY KEY CLUSTERED 
(
	[TEACHER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[USER_ROLE]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[USER_ROLE](
	[USER_ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [vuz].[USERS]    Script Date: 30.01.2023 22:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vuz].[USERS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[PERSONAL_ID] [int] NULL,
	[USER_ROLE_ID] [int] NOT NULL,
	[LOGIN] [varchar](15) NULL,
	[PASSWORD] [varchar](15) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [vuz].[ADDRESS] ON 

INSERT [vuz].[ADDRESS] ([ADDRESS_ID], [SETTLEMENT_ID], [ADDRESS]) VALUES (1, 1, N'пр. Мира, 43')
INSERT [vuz].[ADDRESS] ([ADDRESS_ID], [SETTLEMENT_ID], [ADDRESS]) VALUES (2, 2, N'пр.Пьехи , 17')
INSERT [vuz].[ADDRESS] ([ADDRESS_ID], [SETTLEMENT_ID], [ADDRESS]) VALUES (3, 3, N'ул. Ленина, 25б')
SET IDENTITY_INSERT [vuz].[ADDRESS] OFF
GO
SET IDENTITY_INSERT [vuz].[AREA] ON 

INSERT [vuz].[AREA] ([AREA_ID], [REGION_ID], [NAME]) VALUES (1, 1, N'Краснопресненский ')
INSERT [vuz].[AREA] ([AREA_ID], [REGION_ID], [NAME]) VALUES (2, 4, N'имени Эдиты Пьехи ')
INSERT [vuz].[AREA] ([AREA_ID], [REGION_ID], [NAME]) VALUES (3, 2, N'Мирный')
SET IDENTITY_INSERT [vuz].[AREA] OFF
GO
SET IDENTITY_INSERT [vuz].[BASE_DISCIPLINE] ON 

INSERT [vuz].[BASE_DISCIPLINE] ([BASE_DISCIPLINE_ID], [SUBFACULTY_ID], [NAME]) VALUES (1, 1, N'Математика')
INSERT [vuz].[BASE_DISCIPLINE] ([BASE_DISCIPLINE_ID], [SUBFACULTY_ID], [NAME]) VALUES (2, 1, N'Физика')
INSERT [vuz].[BASE_DISCIPLINE] ([BASE_DISCIPLINE_ID], [SUBFACULTY_ID], [NAME]) VALUES (3, 1, N'ПЭВМ')
SET IDENTITY_INSERT [vuz].[BASE_DISCIPLINE] OFF
GO
SET IDENTITY_INSERT [vuz].[BENEFITS] ON 

INSERT [vuz].[BENEFITS] ([BENEFIT_ID], [NAME]) VALUES (1, N'Сирота')
INSERT [vuz].[BENEFITS] ([BENEFIT_ID], [NAME]) VALUES (2, N'Чернобылец')
INSERT [vuz].[BENEFITS] ([BENEFIT_ID], [NAME]) VALUES (3, N'Беженец')
SET IDENTITY_INSERT [vuz].[BENEFITS] OFF
GO
SET IDENTITY_INSERT [vuz].[CARD] ON 

INSERT [vuz].[CARD] ([CARD_ID], [COURSE], [SEMESTER], [YEAR]) VALUES (1, 1, 1, 2005)
INSERT [vuz].[CARD] ([CARD_ID], [COURSE], [SEMESTER], [YEAR]) VALUES (2, 1, 1, 2004)
INSERT [vuz].[CARD] ([CARD_ID], [COURSE], [SEMESTER], [YEAR]) VALUES (3, 2, 0, 2003)
SET IDENTITY_INSERT [vuz].[CARD] OFF
GO
SET IDENTITY_INSERT [vuz].[COUNTRY] ON 

INSERT [vuz].[COUNTRY] ([COUNTRY_ID], [NAME]) VALUES (1, N'Россия')
INSERT [vuz].[COUNTRY] ([COUNTRY_ID], [NAME]) VALUES (2, N'Латвия')
INSERT [vuz].[COUNTRY] ([COUNTRY_ID], [NAME]) VALUES (3, N'Украина')
SET IDENTITY_INSERT [vuz].[COUNTRY] OFF
GO
SET IDENTITY_INSERT [vuz].[DEPARTAMENT] ON 

INSERT [vuz].[DEPARTAMENT] ([DEPARTMANENT_ID], [NAME]) VALUES (1, N'ЭВМ')
INSERT [vuz].[DEPARTAMENT] ([DEPARTMANENT_ID], [NAME]) VALUES (2, N'АиТЧ')
INSERT [vuz].[DEPARTAMENT] ([DEPARTMANENT_ID], [NAME]) VALUES (3, N'ЖОЗ')
SET IDENTITY_INSERT [vuz].[DEPARTAMENT] OFF
GO
SET IDENTITY_INSERT [vuz].[DISCIPLINE] ON 

INSERT [vuz].[DISCIPLINE] ([DISCIPLINE_ID], [EDUCATION_PLAN_ID], [BASE_DISCIPLINE_ID], [HOURS], [Independent_Hours], [Audience_Hours], [SEMESTER], [COURSE], [YEAR], [CHECKING_FORM]) VALUES (1, 1, 1, 48, 1, 2, 1, 1, 2005, 0)
INSERT [vuz].[DISCIPLINE] ([DISCIPLINE_ID], [EDUCATION_PLAN_ID], [BASE_DISCIPLINE_ID], [HOURS], [Independent_Hours], [Audience_Hours], [SEMESTER], [COURSE], [YEAR], [CHECKING_FORM]) VALUES (2, 1, 2, 64, 11, 2, 1, 1, 2005, 0)
INSERT [vuz].[DISCIPLINE] ([DISCIPLINE_ID], [EDUCATION_PLAN_ID], [BASE_DISCIPLINE_ID], [HOURS], [Independent_Hours], [Audience_Hours], [SEMESTER], [COURSE], [YEAR], [CHECKING_FORM]) VALUES (3, 1, 3, 80, 1, 2, 1, 1, 2005, 1)
SET IDENTITY_INSERT [vuz].[DISCIPLINE] OFF
GO
SET IDENTITY_INSERT [vuz].[DISCIPLINE_TEACHER] ON 

INSERT [vuz].[DISCIPLINE_TEACHER] ([DISCIPLINE_TEACHER_ID], [TEACHER_ID], [DISCIPLINE_ID]) VALUES (1, 1, 1)
INSERT [vuz].[DISCIPLINE_TEACHER] ([DISCIPLINE_TEACHER_ID], [TEACHER_ID], [DISCIPLINE_ID]) VALUES (2, 4, 2)
INSERT [vuz].[DISCIPLINE_TEACHER] ([DISCIPLINE_TEACHER_ID], [TEACHER_ID], [DISCIPLINE_ID]) VALUES (3, 10, 3)
SET IDENTITY_INSERT [vuz].[DISCIPLINE_TEACHER] OFF
GO
SET IDENTITY_INSERT [vuz].[EDUCATION_PLAN] ON 

INSERT [vuz].[EDUCATION_PLAN] ([EDUCATION_PLAN_ID], [SPECIALITY_ID], [DATA_START], [DATA_END]) VALUES (1, 1, CAST(N'2004-01-01T00:00:00.000' AS DateTime), CAST(N'2007-01-01T00:00:00.000' AS DateTime))
INSERT [vuz].[EDUCATION_PLAN] ([EDUCATION_PLAN_ID], [SPECIALITY_ID], [DATA_START], [DATA_END]) VALUES (3, 2, CAST(N'2006-08-01T00:00:00.000' AS DateTime), CAST(N'2006-08-31T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [vuz].[EDUCATION_PLAN] OFF
GO
SET IDENTITY_INSERT [vuz].[EXAM_LIST] ON 

INSERT [vuz].[EXAM_LIST] ([EXAM_LIST_ID], [NUMBER], [TYPE], [DATE_CREATION]) VALUES (1, N'001', 0, CAST(N'2006-01-01T00:00:00.000' AS DateTime))
INSERT [vuz].[EXAM_LIST] ([EXAM_LIST_ID], [NUMBER], [TYPE], [DATE_CREATION]) VALUES (2, N'2', 0, CAST(N'2006-02-01T00:00:00.000' AS DateTime))
INSERT [vuz].[EXAM_LIST] ([EXAM_LIST_ID], [NUMBER], [TYPE], [DATE_CREATION]) VALUES (3, N'3', 1, CAST(N'2006-02-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [vuz].[EXAM_LIST] OFF
GO
SET IDENTITY_INSERT [vuz].[EXAM_MARK] ON 

INSERT [vuz].[EXAM_MARK] ([EXAM_MARK_ID], [EXAM_LIST_ID], [STUDENT_GROUP_ID], [DISCIPLINE_ID], [STUDENT_ID], [VALUE]) VALUES (1, 1, 4, 1, 1, 4)
INSERT [vuz].[EXAM_MARK] ([EXAM_MARK_ID], [EXAM_LIST_ID], [STUDENT_GROUP_ID], [DISCIPLINE_ID], [STUDENT_ID], [VALUE]) VALUES (4, 1, 4, 1, 2, 5)
INSERT [vuz].[EXAM_MARK] ([EXAM_MARK_ID], [EXAM_LIST_ID], [STUDENT_GROUP_ID], [DISCIPLINE_ID], [STUDENT_ID], [VALUE]) VALUES (7, 1, 4, 1, 3, 2)
GO
SET IDENTITY_INSERT [vuz].[EXAM_MARK] OFF
GO
SET IDENTITY_INSERT [vuz].[FACULTY] ON 

INSERT [vuz].[FACULTY] ([FACULTY_ID], [NAME], [SHORT_NAME], [FACULTY_CODE]) VALUES (1, N'Строительный', N'СФ', 1)
INSERT [vuz].[FACULTY] ([FACULTY_ID], [NAME], [SHORT_NAME], [FACULTY_CODE]) VALUES (2, N'Архитектурный', N'АФ', 2)
INSERT [vuz].[FACULTY] ([FACULTY_ID], [NAME], [SHORT_NAME], [FACULTY_CODE]) VALUES (3, N'Физический', N'ФФ', NULL)
SET IDENTITY_INSERT [vuz].[FACULTY] OFF
GO
SET IDENTITY_INSERT [vuz].[FACULTY_GROUP_CODE] ON 

INSERT [vuz].[FACULTY_GROUP_CODE] ([FACULTY_GROUP_CODE_ID], [FACULTY_ID], [COMMENT]) VALUES (1, 1, N'Корпус №15, 8 этаж')
INSERT [vuz].[FACULTY_GROUP_CODE] ([FACULTY_GROUP_CODE_ID], [FACULTY_ID], [COMMENT]) VALUES (2, 2, N'Корпус №4')
INSERT [vuz].[FACULTY_GROUP_CODE] ([FACULTY_GROUP_CODE_ID], [FACULTY_ID], [COMMENT]) VALUES (3, 4, N'Главный корпус')
SET IDENTITY_INSERT [vuz].[FACULTY_GROUP_CODE] OFF
GO
SET IDENTITY_INSERT [vuz].[HOSPICE] ON 

INSERT [vuz].[HOSPICE] ([HOSPICE_ID], [NAME], [STREET], [HOUSE], [BUILDING]) VALUES (1, N'Центральное общежитие', N'ул.Проспект Мира', 4, 2)
INSERT [vuz].[HOSPICE] ([HOSPICE_ID], [NAME], [STREET], [HOUSE], [BUILDING]) VALUES (2, N'Общежитие №1', N'ул.Муравьева', 30, NULL)
INSERT [vuz].[HOSPICE] ([HOSPICE_ID], [NAME], [STREET], [HOUSE], [BUILDING]) VALUES (3, N'Общежитие №3', N'ул.Октябрьская', 23, NULL)
SET IDENTITY_INSERT [vuz].[HOSPICE] OFF
GO
SET IDENTITY_INSERT [vuz].[LANGUAGES] ON 

INSERT [vuz].[LANGUAGES] ([LANGUAGE_ID], [NAME]) VALUES (1, N'Английский')
INSERT [vuz].[LANGUAGES] ([LANGUAGE_ID], [NAME]) VALUES (2, N'Французский')
INSERT [vuz].[LANGUAGES] ([LANGUAGE_ID], [NAME]) VALUES (7, N'Немецкий')
SET IDENTITY_INSERT [vuz].[LANGUAGES] OFF
GO
SET IDENTITY_INSERT [vuz].[MARK] ON 

INSERT [vuz].[MARK] ([MARK_ID], [DISCIPLINE_ID], [EXAM_LIST_ID], [STUDENT_ID], [STUDENT_GROUP_ID], [VALUE]) VALUES (9, 1, 1, 1, 4, 4)
INSERT [vuz].[MARK] ([MARK_ID], [DISCIPLINE_ID], [EXAM_LIST_ID], [STUDENT_ID], [STUDENT_GROUP_ID], [VALUE]) VALUES (2, 2, 10, 1, 4, 5)
INSERT [vuz].[MARK] ([MARK_ID], [DISCIPLINE_ID], [EXAM_LIST_ID], [STUDENT_ID], [STUDENT_GROUP_ID], [VALUE]) VALUES (3, 3, 3, 1, 4, 5)
GO
SET IDENTITY_INSERT [vuz].[MARK] OFF
GO
SET IDENTITY_INSERT [vuz].[NOTE] ON 

INSERT [vuz].[NOTE] ([NOTE_ID], [STUDENT_ID], [CARD_ID], [STUDENT_GROUP_ID], [FREE_ATTENDANCE], [REBUKE], [LAST_EXAM_DATE], [SESSION_PROLONGATION_DATE], [SESSION_CLOSING_DATE], [STUDENTGRANT], [PRACTICE]) VALUES (2, 1, 1, 4, 1, N'Да', NULL, NULL, NULL, NULL, NULL)
INSERT [vuz].[NOTE] ([NOTE_ID], [STUDENT_ID], [CARD_ID], [STUDENT_GROUP_ID], [FREE_ATTENDANCE], [REBUKE], [LAST_EXAM_DATE], [SESSION_PROLONGATION_DATE], [SESSION_CLOSING_DATE], [STUDENTGRANT], [PRACTICE]) VALUES (3, 2, 1, 4, 0, N'Нет', NULL, NULL, CAST(N'2006-06-06T00:00:00.000' AS DateTime), N'3000', NULL)
INSERT [vuz].[NOTE] ([NOTE_ID], [STUDENT_ID], [CARD_ID], [STUDENT_GROUP_ID], [FREE_ATTENDANCE], [REBUKE], [LAST_EXAM_DATE], [SESSION_PROLONGATION_DATE], [SESSION_CLOSING_DATE], [STUDENTGRANT], [PRACTICE]) VALUES (4, 3, 1, 4, 1, N'Нет', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [vuz].[NOTE] OFF
GO
SET IDENTITY_INSERT [vuz].[OFFICE_ORDER] ON 

SET IDENTITY_INSERT [vuz].[OFFICE_ORDER] OFF
GO
SET IDENTITY_INSERT [vuz].[ORDER_CATEGORY] ON 

INSERT [vuz].[ORDER_CATEGORY] ([ORDER_CATEGORY_ID], [ORDER_CATEGORY]) VALUES (1, N'Участие в конференции')
INSERT [vuz].[ORDER_CATEGORY] ([ORDER_CATEGORY_ID], [ORDER_CATEGORY]) VALUES (2, N'Поощрение за отличную учебу')
INSERT [vuz].[ORDER_CATEGORY] ([ORDER_CATEGORY_ID], [ORDER_CATEGORY]) VALUES (3, N'Перевод на другой курс')
SET IDENTITY_INSERT [vuz].[ORDER_CATEGORY] OFF
GO
SET IDENTITY_INSERT [vuz].[PERSONAL] ON 

INSERT [vuz].[PERSONAL] ([PERSONAL_ID], [POSITION_ID], [DEPARTMANENT_ID], [NAME], [PATRONYMIC], [FAMILY_NAME]) VALUES (1, 1, 1, N'Николай', N'Владимирович', N'Николаев')
INSERT [vuz].[PERSONAL] ([PERSONAL_ID], [POSITION_ID], [DEPARTMANENT_ID], [NAME], [PATRONYMIC], [FAMILY_NAME]) VALUES (2, 5, 2, N'Иван', N'Валерьевич', N'Поступайло')
INSERT [vuz].[PERSONAL] ([PERSONAL_ID], [POSITION_ID], [DEPARTMANENT_ID], [NAME], [PATRONYMIC], [FAMILY_NAME]) VALUES (3, 2, 4, N'Денис', N'Николаевич', N'Евтухович')
SET IDENTITY_INSERT [vuz].[PERSONAL] OFF
GO
SET IDENTITY_INSERT [vuz].[POSITION] ON 

INSERT [vuz].[POSITION] ([POSITION_ID], [NAME]) VALUES (1, N'Доцент')
INSERT [vuz].[POSITION] ([POSITION_ID], [NAME]) VALUES (2, N'Профессор')
INSERT [vuz].[POSITION] ([POSITION_ID], [NAME]) VALUES (3, N'Секретарь')
SET IDENTITY_INSERT [vuz].[POSITION] OFF
GO
SET IDENTITY_INSERT [vuz].[REGION] ON 

INSERT [vuz].[REGION] ([REGION_ID], [COUNTRY_ID], [NAME]) VALUES (1, 1, N'Москва')
INSERT [vuz].[REGION] ([REGION_ID], [COUNTRY_ID], [NAME]) VALUES (2, 1, N'Калужская обл.')
INSERT [vuz].[REGION] ([REGION_ID], [COUNTRY_ID], [NAME]) VALUES (4, 2, N'Riga region')
SET IDENTITY_INSERT [vuz].[REGION] OFF
GO
SET IDENTITY_INSERT [vuz].[SETTLEMENT] ON 

INSERT [vuz].[SETTLEMENT] ([SETTLEMENT_ID], [SETTLEMENT_DEFINITION_ID], [AREA_ID], [NAME]) VALUES (1, 1, 1, N'Москва')
INSERT [vuz].[SETTLEMENT] ([SETTLEMENT_ID], [SETTLEMENT_DEFINITION_ID], [AREA_ID], [NAME]) VALUES (2, 1, 2, N'Вильнюс')
INSERT [vuz].[SETTLEMENT] ([SETTLEMENT_ID], [SETTLEMENT_DEFINITION_ID], [AREA_ID], [NAME]) VALUES (3, 1, 3, N'Калуга')
SET IDENTITY_INSERT [vuz].[SETTLEMENT] OFF
GO
SET IDENTITY_INSERT [vuz].[SETTLEMENT_DEFINITION] ON 

INSERT [vuz].[SETTLEMENT_DEFINITION] ([SETTLEMENT_DEFINITION_ID], [NAME]) VALUES (1, N'Город')
INSERT [vuz].[SETTLEMENT_DEFINITION] ([SETTLEMENT_DEFINITION_ID], [NAME]) VALUES (2, N'Поселок')
INSERT [vuz].[SETTLEMENT_DEFINITION] ([SETTLEMENT_DEFINITION_ID], [NAME]) VALUES (3, N'Деревня')
SET IDENTITY_INSERT [vuz].[SETTLEMENT_DEFINITION] OFF
GO
SET IDENTITY_INSERT [vuz].[SPECIALITY] ON 

INSERT [vuz].[SPECIALITY] ([SPECIALITY_ID], [FACULTY_ID], [NUMBER], [NAME], [SHORTNAME]) VALUES (1, 1, N'750', N'Металлонесущие конструкции', N'МНК')
INSERT [vuz].[SPECIALITY] ([SPECIALITY_ID], [FACULTY_ID], [NUMBER], [NAME], [SHORTNAME]) VALUES (2, 1, N'761', N'Экономическая деятельность', N'ЭД')
INSERT [vuz].[SPECIALITY] ([SPECIALITY_ID], [FACULTY_ID], [NUMBER], [NAME], [SHORTNAME]) VALUES (3, 2, N'654', N'Веб-дизайн', N'ВД')
SET IDENTITY_INSERT [vuz].[SPECIALITY] OFF
GO
SET IDENTITY_INSERT [vuz].[STUDENT] ON 

SET IDENTITY_INSERT [vuz].[STUDENT] OFF
GO
SET IDENTITY_INSERT [vuz].[STUDENT_EVENT] ON 

INSERT [vuz].[STUDENT_EVENT] ([EVENT_ID], [NAME], [COMMENT]) VALUES (1, N'Благодарность ', NULL)
INSERT [vuz].[STUDENT_EVENT] ([EVENT_ID], [NAME], [COMMENT]) VALUES (2, N'Замечание ', NULL)
INSERT [vuz].[STUDENT_EVENT] ([EVENT_ID], [NAME], [COMMENT]) VALUES (3, N'Непосещение занятий', NULL)
SET IDENTITY_INSERT [vuz].[STUDENT_EVENT] OFF
GO
SET IDENTITY_INSERT [vuz].[STUDENT_GROUP] ON 

INSERT [vuz].[STUDENT_GROUP] ([STUDENT_GROUP_ID], [PERSONAL_ID], [SPECIALITY_ID], [COURSE], [EDUCATION_DURATION], [NUMBER]) VALUES (1, 6, 3, 1, 1, N'750501')
INSERT [vuz].[STUDENT_GROUP] ([STUDENT_GROUP_ID], [PERSONAL_ID], [SPECIALITY_ID], [COURSE], [EDUCATION_DURATION], [NUMBER]) VALUES (2, 5, 6, 4, 0, N'750502')
INSERT [vuz].[STUDENT_GROUP] ([STUDENT_GROUP_ID], [PERSONAL_ID], [SPECIALITY_ID], [COURSE], [EDUCATION_DURATION], [NUMBER]) VALUES (3, NULL, 5, 2, 1, N'750503')
SET IDENTITY_INSERT [vuz].[STUDENT_GROUP] OFF
GO
SET IDENTITY_INSERT [vuz].[STUDENT_HISTORY] ON 

INSERT [vuz].[STUDENT_HISTORY] ([STUDENT_HISTORY_ID], [EVENT_ID], [USER_ID], [OFFICE_ORDER_ID], [STUDENT_ID], [COMMENT], [DATE_EVENT]) VALUES (1, 1, NULL, NULL, 1, N'помогал  настраивать сеть на кафедре ', CAST(N'2006-03-15T00:00:00.000' AS DateTime))
INSERT [vuz].[STUDENT_HISTORY] ([STUDENT_HISTORY_ID], [EVENT_ID], [USER_ID], [OFFICE_ORDER_ID], [STUDENT_ID], [COMMENT], [DATE_EVENT]) VALUES (2, 2, NULL, NULL, 1, N'постоянное опаздывает на лекции', CAST(N'2006-04-19T00:00:00.000' AS DateTime))
INSERT [vuz].[STUDENT_HISTORY] ([STUDENT_HISTORY_ID], [EVENT_ID], [USER_ID], [OFFICE_ORDER_ID], [STUDENT_ID], [COMMENT], [DATE_EVENT]) VALUES (3, 1, NULL, NULL, 2, N'хорошо организовывает работу группы, будучи куратором', CAST(N'2006-06-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [vuz].[STUDENT_HISTORY] OFF
GO
SET IDENTITY_INSERT [vuz].[STUDENT_STATUS] ON 

INSERT [vuz].[STUDENT_STATUS] ([STUDENT_STATUS_ID], [NAME]) VALUES (1, N'Учится')
INSERT [vuz].[STUDENT_STATUS] ([STUDENT_STATUS_ID], [NAME]) VALUES (2, N'Отчислен')
INSERT [vuz].[STUDENT_STATUS] ([STUDENT_STATUS_ID], [NAME]) VALUES (3, N'В академическом отпуске')
SET IDENTITY_INSERT [vuz].[STUDENT_STATUS] OFF
GO
SET IDENTITY_INSERT [vuz].[SUBFACULTY] ON 

INSERT [vuz].[SUBFACULTY] ([SUBFACULTY_ID], [FACULTY_ID], [NAME], [SUBFACULTY_NUMBER]) VALUES (1, 1, N'ЭВМ', N'700')
INSERT [vuz].[SUBFACULTY] ([SUBFACULTY_ID], [FACULTY_ID], [NAME], [SUBFACULTY_NUMBER]) VALUES (2, 1, N'МО', N'620')
INSERT [vuz].[SUBFACULTY] ([SUBFACULTY_ID], [FACULTY_ID], [NAME], [SUBFACULTY_NUMBER]) VALUES (3, 2, N'ЖОЗ', N'560')
SET IDENTITY_INSERT [vuz].[SUBFACULTY] OFF
GO
SET IDENTITY_INSERT [vuz].[TEACHER] ON 

INSERT [vuz].[TEACHER] ([TEACHER_ID], [PERSONAL_ID], [SUBFACULTY_ID]) VALUES (1, 1, 1)
INSERT [vuz].[TEACHER] ([TEACHER_ID], [PERSONAL_ID], [SUBFACULTY_ID]) VALUES (2, 3, 6)
INSERT [vuz].[TEACHER] ([TEACHER_ID], [PERSONAL_ID], [SUBFACULTY_ID]) VALUES (3, 9, 7)
SET IDENTITY_INSERT [vuz].[TEACHER] OFF
GO
SET IDENTITY_INSERT [vuz].[USER_ROLE] ON 

INSERT [vuz].[USER_ROLE] ([USER_ROLE_ID], [NAME]) VALUES (1, N'Администратор')
INSERT [vuz].[USER_ROLE] ([USER_ROLE_ID], [NAME]) VALUES (2, N'Сотрудник деканата')
INSERT [vuz].[USER_ROLE] ([USER_ROLE_ID], [NAME]) VALUES (3, N'Сотрудник подразд. ВУЗа')
SET IDENTITY_INSERT [vuz].[USER_ROLE] OFF
GO
SET IDENTITY_INSERT [vuz].[USERS] ON 

INSERT [vuz].[USERS] ([USER_ID], [PERSONAL_ID], [USER_ROLE_ID], [LOGIN], [PASSWORD]) VALUES (1, 1, 1, N'Admin', N'1')
INSERT [vuz].[USERS] ([USER_ID], [PERSONAL_ID], [USER_ROLE_ID], [LOGIN], [PASSWORD]) VALUES (2, 4, 2, N'melnikovoi', N'12345')
INSERT [vuz].[USERS] ([USER_ID], [PERSONAL_ID], [USER_ROLE_ID], [LOGIN], [PASSWORD]) VALUES (3, 3, 3, N'evtux', N'3890')
SET IDENTITY_INSERT [vuz].[USERS] OFF
GO
/****** Object:  Index [SETTLEMENT_ADDRESS_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [SETTLEMENT_ADDRESS_FK] ON [vuz].[ADDRESS]
(
	[SETTLEMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [REGION_AREA_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [REGION_AREA_FK] ON [vuz].[AREA]
(
	[REGION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_BASE_DISCIPLINE]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[BASE_DISCIPLINE] ADD  CONSTRAINT [PK_BASE_DISCIPLINE] PRIMARY KEY NONCLUSTERED 
(
	[BASE_DISCIPLINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [BASE_DISCIPLINE_SUBFACULTY_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [BASE_DISCIPLINE_SUBFACULTY_FK] ON [vuz].[BASE_DISCIPLINE]
(
	[SUBFACULTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_BENEFITS]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[BENEFITS] ADD  CONSTRAINT [PK_BENEFITS] PRIMARY KEY NONCLUSTERED 
(
	[BENEFIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CARD]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[CARD] ADD  CONSTRAINT [PK_CARD] PRIMARY KEY NONCLUSTERED 
(
	[CARD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_COUNTRY]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[COUNTRY] ADD  CONSTRAINT [PK_COUNTRY] PRIMARY KEY NONCLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DISCIPLINE]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[DISCIPLINE] ADD  CONSTRAINT [PK_DISCIPLINE] PRIMARY KEY NONCLUSTERED 
(
	[DISCIPLINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [BASE_DISCIPLINE_UP_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [BASE_DISCIPLINE_UP_FK] ON [vuz].[DISCIPLINE]
(
	[BASE_DISCIPLINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EDUCATION_PLAN_DISCIPLINE_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [EDUCATION_PLAN_DISCIPLINE_FK] ON [vuz].[DISCIPLINE]
(
	[EDUCATION_PLAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DISCIPLINE_FOR_TEACHERS_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [DISCIPLINE_FOR_TEACHERS_FK] ON [vuz].[DISCIPLINE_TEACHER]
(
	[DISCIPLINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TEACHER_FOR_DISCIPLINES_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [TEACHER_FOR_DISCIPLINES_FK] ON [vuz].[DISCIPLINE_TEACHER]
(
	[TEACHER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_EDUCATION_PLAN]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[EDUCATION_PLAN] ADD  CONSTRAINT [PK_EDUCATION_PLAN] PRIMARY KEY NONCLUSTERED 
(
	[EDUCATION_PLAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EDUCATION_PLAN_SPECIALITY_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [EDUCATION_PLAN_SPECIALITY_FK] ON [vuz].[EDUCATION_PLAN]
(
	[SPECIALITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EXAM_LIST_DISCIPLINE_MARKS_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [EXAM_LIST_DISCIPLINE_MARKS_FK] ON [vuz].[EXAM_MARK]
(
	[DISCIPLINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EXAM_LIST_MARK_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [EXAM_LIST_MARK_FK] ON [vuz].[EXAM_MARK]
(
	[EXAM_LIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [GROUP_EXAM_LIST_MARK_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [GROUP_EXAM_LIST_MARK_FK] ON [vuz].[EXAM_MARK]
(
	[STUDENT_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_EXAM_LIST_MARKS_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [STUDENT_EXAM_LIST_MARKS_FK] ON [vuz].[EXAM_MARK]
(
	[STUDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_FACULTY]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[FACULTY] ADD  CONSTRAINT [PK_FACULTY] PRIMARY KEY NONCLUSTERED 
(
	[FACULTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FACULTY_GROUP_CODES_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [FACULTY_GROUP_CODES_FK] ON [vuz].[FACULTY_GROUP_CODE]
(
	[FACULTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LANGUAGES]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[LANGUAGES] ADD  CONSTRAINT [PK_LANGUAGES] PRIMARY KEY NONCLUSTERED 
(
	[LANGUAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_MARK]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[MARK] ADD  CONSTRAINT [PK_MARK] PRIMARY KEY NONCLUSTERED 
(
	[MARK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EXAM_LIST_ACTUAL_MARK_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [EXAM_LIST_ACTUAL_MARK_FK] ON [vuz].[MARK]
(
	[EXAM_LIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [GROUP_MARK_CARD_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [GROUP_MARK_CARD_FK] ON [vuz].[MARK]
(
	[STUDENT_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MARK_ON_DISCIPLINE_CARD_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [MARK_ON_DISCIPLINE_CARD_FK] ON [vuz].[MARK]
(
	[DISCIPLINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_MARK_CARD_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [STUDENT_MARK_CARD_FK] ON [vuz].[MARK]
(
	[STUDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NOTE]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[NOTE] ADD  CONSTRAINT [PK_NOTE] PRIMARY KEY NONCLUSTERED 
(
	[NOTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CARD_NOTE_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [CARD_NOTE_FK] ON [vuz].[NOTE]
(
	[CARD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [GROUP_NOTE_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [GROUP_NOTE_FK] ON [vuz].[NOTE]
(
	[STUDENT_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_NOTE_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [STUDENT_NOTE_FK] ON [vuz].[NOTE]
(
	[STUDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_OFFICE_ORDER]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[OFFICE_ORDER] ADD  CONSTRAINT [PK_OFFICE_ORDER] PRIMARY KEY NONCLUSTERED 
(
	[OFFICE_ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CATEGORY_ORDER_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [CATEGORY_ORDER_FK] ON [vuz].[OFFICE_ORDER]
(
	[ORDER_CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ORDER_CATEGORY]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[ORDER_CATEGORY] ADD  CONSTRAINT [PK_ORDER_CATEGORY] PRIMARY KEY NONCLUSTERED 
(
	[ORDER_CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PERSONAL_DEPARTAMENT_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [PERSONAL_DEPARTAMENT_FK] ON [vuz].[PERSONAL]
(
	[DEPARTMANENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PERSONAL_POSITION_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [PERSONAL_POSITION_FK] ON [vuz].[PERSONAL]
(
	[POSITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [COUNTRY_REGION_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [COUNTRY_REGION_FK] ON [vuz].[REGION]
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DEFINITION_SETTLEMENT_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [DEFINITION_SETTLEMENT_FK] ON [vuz].[SETTLEMENT]
(
	[SETTLEMENT_DEFINITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SETTLEMENT_AREA_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [SETTLEMENT_AREA_FK] ON [vuz].[SETTLEMENT]
(
	[AREA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_SPECIALITY]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[SPECIALITY] ADD  CONSTRAINT [PK_SPECIALITY] PRIMARY KEY NONCLUSTERED 
(
	[SPECIALITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FACULTY_SPECIALITY_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [FACULTY_SPECIALITY_FK] ON [vuz].[SPECIALITY]
(
	[FACULTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_STUDENT]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[STUDENT] ADD  CONSTRAINT [PK_STUDENT] PRIMARY KEY NONCLUSTERED 
(
	[STUDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [GROUP_STUDENT_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [GROUP_STUDENT_FK] ON [vuz].[STUDENT]
(
	[STUDENT_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_46_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_46_FK] ON [vuz].[STUDENT]
(
	[START_SPECIALITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_ADDRESS_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [STUDENT_ADDRESS_FK] ON [vuz].[STUDENT]
(
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_BENEFIT_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [STUDENT_BENEFIT_FK] ON [vuz].[STUDENT]
(
	[BENEFIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_COUNTRY_CITIZEN_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [STUDENT_COUNTRY_CITIZEN_FK] ON [vuz].[STUDENT]
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_LANGUAGE_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [STUDENT_LANGUAGE_FK] ON [vuz].[STUDENT]
(
	[LANGUAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_STATUS_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [STUDENT_STATUS_FK] ON [vuz].[STUDENT]
(
	[STUDENT_STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_STUDENT_EVENT]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[STUDENT_EVENT] ADD  CONSTRAINT [PK_STUDENT_EVENT] PRIMARY KEY NONCLUSTERED 
(
	[EVENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_STUDENT_GROUP]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[STUDENT_GROUP] ADD  CONSTRAINT [PK_STUDENT_GROUP] PRIMARY KEY NONCLUSTERED 
(
	[STUDENT_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [GROUP_CURATOR_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [GROUP_CURATOR_FK] ON [vuz].[STUDENT_GROUP]
(
	[PERSONAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SPECIALITY_GROUP_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [SPECIALITY_GROUP_FK] ON [vuz].[STUDENT_GROUP]
(
	[SPECIALITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_STUDENT_HISTORY]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[STUDENT_HISTORY] ADD  CONSTRAINT [PK_STUDENT_HISTORY] PRIMARY KEY NONCLUSTERED 
(
	[STUDENT_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_EVENT_RELATIONSHIP_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [STUDENT_EVENT_RELATIONSHIP_FK] ON [vuz].[STUDENT_HISTORY]
(
	[EVENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_HISTORY_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [STUDENT_HISTORY_FK] ON [vuz].[STUDENT_HISTORY]
(
	[STUDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_ORDER_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [STUDENT_ORDER_FK] ON [vuz].[STUDENT_HISTORY]
(
	[OFFICE_ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [USER_EVENT_CREATOR_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [USER_EVENT_CREATOR_FK] ON [vuz].[STUDENT_HISTORY]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PERSON_TEACHER_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [PERSON_TEACHER_FK] ON [vuz].[TEACHER]
(
	[PERSONAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TEACHER_SUBFACULTY_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [TEACHER_SUBFACULTY_FK] ON [vuz].[TEACHER]
(
	[SUBFACULTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_USER_ROLE]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[USER_ROLE] ADD  CONSTRAINT [PK_USER_ROLE] PRIMARY KEY NONCLUSTERED 
(
	[USER_ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_USERS]    Script Date: 30.01.2023 22:29:32 ******/
ALTER TABLE [vuz].[USERS] ADD  CONSTRAINT [PK_USERS] PRIMARY KEY NONCLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [USER_PERSONAL_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [USER_PERSONAL_FK] ON [vuz].[USERS]
(
	[PERSONAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [USER_ROLE_FK]    Script Date: 30.01.2023 22:29:32 ******/
CREATE NONCLUSTERED INDEX [USER_ROLE_FK] ON [vuz].[USERS]
(
	[USER_ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [vuz].[EXAM_LIST] ADD  DEFAULT (0) FOR [TYPE]
GO
ALTER TABLE [vuz].[OFFICE_ORDER] ADD  DEFAULT (0) FOR [ISSIGNED]
GO
ALTER TABLE [vuz].[STUDENT] ADD  CONSTRAINT [DF_STUDENT_SEX]  DEFAULT (0) FOR [SEX]
GO
ALTER TABLE [vuz].[STUDENT] ADD  CONSTRAINT [DF_STUDENT_COURSE_LEADER]  DEFAULT (0) FOR [COURSE_LEADER]
GO
ALTER TABLE [vuz].[ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESS_SETTLEMEN_SETTLEME] FOREIGN KEY([SETTLEMENT_ID])
REFERENCES [vuz].[SETTLEMENT] ([SETTLEMENT_ID])
GO
ALTER TABLE [vuz].[ADDRESS] CHECK CONSTRAINT [FK_ADDRESS_SETTLEMEN_SETTLEME]
GO
ALTER TABLE [vuz].[AREA]  WITH CHECK ADD  CONSTRAINT [FK_AREA_REGION_AR_REGION] FOREIGN KEY([REGION_ID])
REFERENCES [vuz].[REGION] ([REGION_ID])
GO
ALTER TABLE [vuz].[AREA] CHECK CONSTRAINT [FK_AREA_REGION_AR_REGION]
GO
ALTER TABLE [vuz].[BASE_DISCIPLINE]  WITH CHECK ADD  CONSTRAINT [FK_BASE_DIS_BASE_DISC_SUBFACUL] FOREIGN KEY([SUBFACULTY_ID])
REFERENCES [vuz].[SUBFACULTY] ([SUBFACULTY_ID])
GO
ALTER TABLE [vuz].[BASE_DISCIPLINE] CHECK CONSTRAINT [FK_BASE_DIS_BASE_DISC_SUBFACUL]
GO
ALTER TABLE [vuz].[DISCIPLINE]  WITH NOCHECK ADD  CONSTRAINT [FK_DISCIPLI_BASE_DISC_BASE_DIS] FOREIGN KEY([BASE_DISCIPLINE_ID])
REFERENCES [vuz].[BASE_DISCIPLINE] ([BASE_DISCIPLINE_ID])
GO
ALTER TABLE [vuz].[DISCIPLINE] CHECK CONSTRAINT [FK_DISCIPLI_BASE_DISC_BASE_DIS]
GO
ALTER TABLE [vuz].[DISCIPLINE]  WITH NOCHECK ADD  CONSTRAINT [FK_DISCIPLI_EDUCATION_EDUCATIO] FOREIGN KEY([EDUCATION_PLAN_ID])
REFERENCES [vuz].[EDUCATION_PLAN] ([EDUCATION_PLAN_ID])
GO
ALTER TABLE [vuz].[DISCIPLINE] CHECK CONSTRAINT [FK_DISCIPLI_EDUCATION_EDUCATIO]
GO
ALTER TABLE [vuz].[DISCIPLINE_TEACHER]  WITH NOCHECK ADD  CONSTRAINT [FK_DISCIPLI_DISCIPLIN_DISCIPLI] FOREIGN KEY([DISCIPLINE_ID])
REFERENCES [vuz].[DISCIPLINE] ([DISCIPLINE_ID])
GO
ALTER TABLE [vuz].[DISCIPLINE_TEACHER] CHECK CONSTRAINT [FK_DISCIPLI_DISCIPLIN_DISCIPLI]
GO
ALTER TABLE [vuz].[DISCIPLINE_TEACHER]  WITH CHECK ADD  CONSTRAINT [FK_DISCIPLI_TEACHER_F_TEACHER] FOREIGN KEY([TEACHER_ID])
REFERENCES [vuz].[TEACHER] ([TEACHER_ID])
GO
ALTER TABLE [vuz].[DISCIPLINE_TEACHER] CHECK CONSTRAINT [FK_DISCIPLI_TEACHER_F_TEACHER]
GO
ALTER TABLE [vuz].[EDUCATION_PLAN]  WITH CHECK ADD  CONSTRAINT [FK_EDUCATIO_EDUCATION_SPECIALI] FOREIGN KEY([SPECIALITY_ID])
REFERENCES [vuz].[SPECIALITY] ([SPECIALITY_ID])
GO
ALTER TABLE [vuz].[EDUCATION_PLAN] CHECK CONSTRAINT [FK_EDUCATIO_EDUCATION_SPECIALI]
GO
ALTER TABLE [vuz].[EXAM_MARK]  WITH NOCHECK ADD  CONSTRAINT [FK_EXAM_MAR_EXAM_LIST_DISCIPLI] FOREIGN KEY([DISCIPLINE_ID])
REFERENCES [vuz].[DISCIPLINE] ([DISCIPLINE_ID])
GO
ALTER TABLE [vuz].[EXAM_MARK] CHECK CONSTRAINT [FK_EXAM_MAR_EXAM_LIST_DISCIPLI]
GO
ALTER TABLE [vuz].[EXAM_MARK]  WITH CHECK ADD  CONSTRAINT [FK_EXAM_MAR_EXAM_LIST_EXAM_LIS] FOREIGN KEY([EXAM_LIST_ID])
REFERENCES [vuz].[EXAM_LIST] ([EXAM_LIST_ID])
GO
ALTER TABLE [vuz].[EXAM_MARK] CHECK CONSTRAINT [FK_EXAM_MAR_EXAM_LIST_EXAM_LIS]
GO
ALTER TABLE [vuz].[EXAM_MARK]  WITH CHECK ADD  CONSTRAINT [FK_EXAM_MAR_GROUP_EXA_STUDENT_] FOREIGN KEY([STUDENT_GROUP_ID])
REFERENCES [vuz].[STUDENT_GROUP] ([STUDENT_GROUP_ID])
GO
ALTER TABLE [vuz].[EXAM_MARK] CHECK CONSTRAINT [FK_EXAM_MAR_GROUP_EXA_STUDENT_]
GO
ALTER TABLE [vuz].[EXAM_MARK]  WITH NOCHECK ADD  CONSTRAINT [FK_EXAM_MAR_STUDENT_E_STUDENT] FOREIGN KEY([STUDENT_ID])
REFERENCES [vuz].[STUDENT] ([STUDENT_ID])
GO
ALTER TABLE [vuz].[EXAM_MARK] CHECK CONSTRAINT [FK_EXAM_MAR_STUDENT_E_STUDENT]
GO
ALTER TABLE [vuz].[FACULTY_GROUP_CODE]  WITH CHECK ADD  CONSTRAINT [FK_FACULTY__FACULTY_G_FACULTY] FOREIGN KEY([FACULTY_ID])
REFERENCES [vuz].[FACULTY] ([FACULTY_ID])
GO
ALTER TABLE [vuz].[FACULTY_GROUP_CODE] CHECK CONSTRAINT [FK_FACULTY__FACULTY_G_FACULTY]
GO
ALTER TABLE [vuz].[MARK]  WITH CHECK ADD  CONSTRAINT [FK_MARK_EXAM_LIST_EXAM_LIS] FOREIGN KEY([EXAM_LIST_ID])
REFERENCES [vuz].[EXAM_LIST] ([EXAM_LIST_ID])
GO
ALTER TABLE [vuz].[MARK] CHECK CONSTRAINT [FK_MARK_EXAM_LIST_EXAM_LIS]
GO
ALTER TABLE [vuz].[MARK]  WITH CHECK ADD  CONSTRAINT [FK_MARK_GROUP_MAR_STUDENT_] FOREIGN KEY([STUDENT_GROUP_ID])
REFERENCES [vuz].[STUDENT_GROUP] ([STUDENT_GROUP_ID])
GO
ALTER TABLE [vuz].[MARK] CHECK CONSTRAINT [FK_MARK_GROUP_MAR_STUDENT_]
GO
ALTER TABLE [vuz].[MARK]  WITH NOCHECK ADD  CONSTRAINT [FK_MARK_MARK_ON_D_DISCIPLI] FOREIGN KEY([DISCIPLINE_ID])
REFERENCES [vuz].[DISCIPLINE] ([DISCIPLINE_ID])
GO
ALTER TABLE [vuz].[MARK] CHECK CONSTRAINT [FK_MARK_MARK_ON_D_DISCIPLI]
GO
ALTER TABLE [vuz].[MARK]  WITH NOCHECK ADD  CONSTRAINT [FK_MARK_STUDENT_M_STUDENT] FOREIGN KEY([STUDENT_ID])
REFERENCES [vuz].[STUDENT] ([STUDENT_ID])
GO
ALTER TABLE [vuz].[MARK] CHECK CONSTRAINT [FK_MARK_STUDENT_M_STUDENT]
GO
ALTER TABLE [vuz].[NOTE]  WITH CHECK ADD  CONSTRAINT [FK_NOTE_CARD_NOTE_CARD] FOREIGN KEY([CARD_ID])
REFERENCES [vuz].[CARD] ([CARD_ID])
GO
ALTER TABLE [vuz].[NOTE] CHECK CONSTRAINT [FK_NOTE_CARD_NOTE_CARD]
GO
ALTER TABLE [vuz].[NOTE]  WITH CHECK ADD  CONSTRAINT [FK_NOTE_GROUP_NOT_STUDENT_] FOREIGN KEY([STUDENT_GROUP_ID])
REFERENCES [vuz].[STUDENT_GROUP] ([STUDENT_GROUP_ID])
GO
ALTER TABLE [vuz].[NOTE] CHECK CONSTRAINT [FK_NOTE_GROUP_NOT_STUDENT_]
GO
ALTER TABLE [vuz].[NOTE]  WITH NOCHECK ADD  CONSTRAINT [FK_NOTE_STUDENT_N_STUDENT] FOREIGN KEY([STUDENT_ID])
REFERENCES [vuz].[STUDENT] ([STUDENT_ID])
GO
ALTER TABLE [vuz].[NOTE] CHECK CONSTRAINT [FK_NOTE_STUDENT_N_STUDENT]
GO
ALTER TABLE [vuz].[OFFICE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_OFFICE_O_CATEGORY__ORDER_CA] FOREIGN KEY([ORDER_CATEGORY_ID])
REFERENCES [vuz].[ORDER_CATEGORY] ([ORDER_CATEGORY_ID])
GO
ALTER TABLE [vuz].[OFFICE_ORDER] CHECK CONSTRAINT [FK_OFFICE_O_CATEGORY__ORDER_CA]
GO
ALTER TABLE [vuz].[PERSONAL]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAL_PERSONAL__DEPARTAM] FOREIGN KEY([DEPARTMANENT_ID])
REFERENCES [vuz].[DEPARTAMENT] ([DEPARTMANENT_ID])
GO
ALTER TABLE [vuz].[PERSONAL] CHECK CONSTRAINT [FK_PERSONAL_PERSONAL__DEPARTAM]
GO
ALTER TABLE [vuz].[PERSONAL]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAL_PERSONAL__POSITION] FOREIGN KEY([POSITION_ID])
REFERENCES [vuz].[POSITION] ([POSITION_ID])
GO
ALTER TABLE [vuz].[PERSONAL] CHECK CONSTRAINT [FK_PERSONAL_PERSONAL__POSITION]
GO
ALTER TABLE [vuz].[REGION]  WITH CHECK ADD  CONSTRAINT [FK_REGION_COUNTRY_R_COUNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [vuz].[COUNTRY] ([COUNTRY_ID])
GO
ALTER TABLE [vuz].[REGION] CHECK CONSTRAINT [FK_REGION_COUNTRY_R_COUNTRY]
GO
ALTER TABLE [vuz].[SETTLEMENT]  WITH CHECK ADD  CONSTRAINT [FK_SETTLEME_DEFINITIO_SETTLEME] FOREIGN KEY([SETTLEMENT_DEFINITION_ID])
REFERENCES [vuz].[SETTLEMENT_DEFINITION] ([SETTLEMENT_DEFINITION_ID])
GO
ALTER TABLE [vuz].[SETTLEMENT] CHECK CONSTRAINT [FK_SETTLEME_DEFINITIO_SETTLEME]
GO
ALTER TABLE [vuz].[SETTLEMENT]  WITH CHECK ADD  CONSTRAINT [FK_SETTLEME_SETTLEMEN_AREA] FOREIGN KEY([AREA_ID])
REFERENCES [vuz].[AREA] ([AREA_ID])
GO
ALTER TABLE [vuz].[SETTLEMENT] CHECK CONSTRAINT [FK_SETTLEME_SETTLEMEN_AREA]
GO
ALTER TABLE [vuz].[SPECIALITY]  WITH CHECK ADD  CONSTRAINT [FK_SPECIALI_FACULTY_S_FACULTY] FOREIGN KEY([FACULTY_ID])
REFERENCES [vuz].[FACULTY] ([FACULTY_ID])
GO
ALTER TABLE [vuz].[SPECIALITY] CHECK CONSTRAINT [FK_SPECIALI_FACULTY_S_FACULTY]
GO
ALTER TABLE [vuz].[STUDENT]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_GROUP_STU_STUDENT_] FOREIGN KEY([STUDENT_GROUP_ID])
REFERENCES [vuz].[STUDENT_GROUP] ([STUDENT_GROUP_ID])
GO
ALTER TABLE [vuz].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_GROUP_STU_STUDENT_]
GO
ALTER TABLE [vuz].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_RELATIONS_SPECIALI] FOREIGN KEY([START_SPECIALITY_ID])
REFERENCES [vuz].[SPECIALITY] ([SPECIALITY_ID])
GO
ALTER TABLE [vuz].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_RELATIONS_SPECIALI]
GO
ALTER TABLE [vuz].[STUDENT]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_STUDENT_A_ADDRESS] FOREIGN KEY([ADDRESS_ID])
REFERENCES [vuz].[ADDRESS] ([ADDRESS_ID])
GO
ALTER TABLE [vuz].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_STUDENT_A_ADDRESS]
GO
ALTER TABLE [vuz].[STUDENT]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_STUDENT_B_BENEFITS] FOREIGN KEY([BENEFIT_ID])
REFERENCES [vuz].[BENEFITS] ([BENEFIT_ID])
GO
ALTER TABLE [vuz].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_STUDENT_B_BENEFITS]
GO
ALTER TABLE [vuz].[STUDENT]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_STUDENT_C_COUNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [vuz].[COUNTRY] ([COUNTRY_ID])
GO
ALTER TABLE [vuz].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_STUDENT_C_COUNTRY]
GO
ALTER TABLE [vuz].[STUDENT]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_STUDENT_H_HOSPICE] FOREIGN KEY([HOSPICE_ID])
REFERENCES [vuz].[HOSPICE] ([HOSPICE_ID])
GO
ALTER TABLE [vuz].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_STUDENT_H_HOSPICE]
GO
ALTER TABLE [vuz].[STUDENT]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_STUDENT_L_LANGUAGE] FOREIGN KEY([LANGUAGE_ID])
REFERENCES [vuz].[LANGUAGES] ([LANGUAGE_ID])
GO
ALTER TABLE [vuz].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_STUDENT_L_LANGUAGE]
GO
ALTER TABLE [vuz].[STUDENT]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT_STUDENT_S_STUDENT_] FOREIGN KEY([STUDENT_STATUS_ID])
REFERENCES [vuz].[STUDENT_STATUS] ([STUDENT_STATUS_ID])
GO
ALTER TABLE [vuz].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_STUDENT_S_STUDENT_]
GO
ALTER TABLE [vuz].[STUDENT_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT__GROUP_CUR_PERSONAL] FOREIGN KEY([PERSONAL_ID])
REFERENCES [vuz].[PERSONAL] ([PERSONAL_ID])
GO
ALTER TABLE [vuz].[STUDENT_GROUP] CHECK CONSTRAINT [FK_STUDENT__GROUP_CUR_PERSONAL]
GO
ALTER TABLE [vuz].[STUDENT_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT__SPECIALIT_SPECIALI] FOREIGN KEY([SPECIALITY_ID])
REFERENCES [vuz].[SPECIALITY] ([SPECIALITY_ID])
GO
ALTER TABLE [vuz].[STUDENT_GROUP] CHECK CONSTRAINT [FK_STUDENT__SPECIALIT_SPECIALI]
GO
ALTER TABLE [vuz].[STUDENT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT__STUDENT_E_STUDENT_] FOREIGN KEY([EVENT_ID])
REFERENCES [vuz].[STUDENT_EVENT] ([EVENT_ID])
GO
ALTER TABLE [vuz].[STUDENT_HISTORY] CHECK CONSTRAINT [FK_STUDENT__STUDENT_E_STUDENT_]
GO
ALTER TABLE [vuz].[STUDENT_HISTORY]  WITH NOCHECK ADD  CONSTRAINT [FK_STUDENT__STUDENT_H_STUDENT] FOREIGN KEY([STUDENT_ID])
REFERENCES [vuz].[STUDENT] ([STUDENT_ID])
GO
ALTER TABLE [vuz].[STUDENT_HISTORY] CHECK CONSTRAINT [FK_STUDENT__STUDENT_H_STUDENT]
GO
ALTER TABLE [vuz].[STUDENT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT__STUDENT_O_OFFICE_O] FOREIGN KEY([OFFICE_ORDER_ID])
REFERENCES [vuz].[OFFICE_ORDER] ([OFFICE_ORDER_ID])
GO
ALTER TABLE [vuz].[STUDENT_HISTORY] CHECK CONSTRAINT [FK_STUDENT__STUDENT_O_OFFICE_O]
GO
ALTER TABLE [vuz].[STUDENT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT__USER_EVEN_USERS] FOREIGN KEY([USER_ID])
REFERENCES [vuz].[USERS] ([USER_ID])
GO
ALTER TABLE [vuz].[STUDENT_HISTORY] CHECK CONSTRAINT [FK_STUDENT__USER_EVEN_USERS]
GO
ALTER TABLE [vuz].[SUBFACULTY]  WITH CHECK ADD  CONSTRAINT [FK_SUBFACUL_FACULTY_D_FACULTY] FOREIGN KEY([FACULTY_ID])
REFERENCES [vuz].[FACULTY] ([FACULTY_ID])
GO
ALTER TABLE [vuz].[SUBFACULTY] CHECK CONSTRAINT [FK_SUBFACUL_FACULTY_D_FACULTY]
GO
ALTER TABLE [vuz].[TEACHER]  WITH CHECK ADD  CONSTRAINT [FK_TEACHER_PERSON_TE_PERSONAL] FOREIGN KEY([PERSONAL_ID])
REFERENCES [vuz].[PERSONAL] ([PERSONAL_ID])
GO
ALTER TABLE [vuz].[TEACHER] CHECK CONSTRAINT [FK_TEACHER_PERSON_TE_PERSONAL]
GO
ALTER TABLE [vuz].[TEACHER]  WITH CHECK ADD  CONSTRAINT [FK_TEACHER_TEACHER_S_SUBFACUL] FOREIGN KEY([SUBFACULTY_ID])
REFERENCES [vuz].[SUBFACULTY] ([SUBFACULTY_ID])
GO
ALTER TABLE [vuz].[TEACHER] CHECK CONSTRAINT [FK_TEACHER_TEACHER_S_SUBFACUL]
GO
ALTER TABLE [vuz].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_USER_PERS_PERSONAL] FOREIGN KEY([PERSONAL_ID])
REFERENCES [vuz].[PERSONAL] ([PERSONAL_ID])
GO
ALTER TABLE [vuz].[USERS] CHECK CONSTRAINT [FK_USERS_USER_PERS_PERSONAL]
GO
ALTER TABLE [vuz].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_USER_ROLE_USER_ROL] FOREIGN KEY([USER_ROLE_ID])
REFERENCES [vuz].[USER_ROLE] ([USER_ROLE_ID])
GO
ALTER TABLE [vuz].[USERS] CHECK CONSTRAINT [FK_USERS_USER_ROLE_USER_ROL]
GO
/****** Object:  Trigger [vuz].[MOVE_MARKS_TO_GROUPCARD]    Script Date: 30.01.2023 22:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE
--ALTER 
 TRIGGER [vuz].[MOVE_MARKS_TO_GROUPCARD] ON [vuz].[EXAM_MARK] 
FOR INSERT, UPDATE 
AS
DECLARE @DISCIPLINE_ID INT; 
DECLARE @EXAM_LIST_ID  INT; 
DECLARE @STUDENT_ID INT; 
DECLARE @STUDENT_GROUP_ID INT; 
DECLARE @VALUE TINYINT ; 

SELECT @DISCIPLINE_ID = (SELECT DISCIPLINE_ID FROM INSERTED)
SELECT @EXAM_LIST_ID  = (SELECT EXAM_LIST_ID FROM INSERTED)
SELECT @STUDENT_ID = (SELECT STUDENT_ID FROM INSERTED)
SELECT @STUDENT_GROUP_ID = (SELECT STUDENT_GROUP_ID FROM INSERTED)
SELECT @VALUE = (SELECT VALUE FROM INSERTED)

IF EXISTS (SELECT * FROM VUZ.MARK M WHERE 
		M.DISCIPLINE_ID = @DISCIPLINE_ID AND
		M.STUDENT_ID = @STUDENT_ID  AND
		M.STUDENT_GROUP_ID = @STUDENT_GROUP_ID) 
	BEGIN
		UPDATE VUZ.MARK 
		SET 
			VALUE= @VALUE, 
			EXAM_LIST_ID =  @EXAM_LIST_ID
		WHERE 
			DISCIPLINE_ID = @DISCIPLINE_ID AND
			STUDENT_ID = @STUDENT_ID  AND
			STUDENT_GROUP_ID = @STUDENT_GROUP_ID
	END
ELSE
	BEGIN
		INSERT INTO [VUZ].[MARK]
			([DISCIPLINE_ID], [EXAM_LIST_ID], [STUDENT_ID], [STUDENT_GROUP_ID], [VALUE])
		SELECT  
			@DISCIPLINE_ID, @EXAM_LIST_ID, @STUDENT_ID , @STUDENT_GROUP_ID, @VALUE FROM  INSERTED
	END

GO
ALTER TABLE [vuz].[EXAM_MARK] ENABLE TRIGGER [MOVE_MARKS_TO_GROUPCARD]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Справочник Дисциплин как таковых. НЕ Входит в Учебный План. 
   НЕ имеет характеристику - кол-во часов,' , @level0type=N'SCHEMA',@level0name=N'vuz', @level1type=N'TABLE',@level1name=N'BASE_DISCIPLINE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Входит в Учебный План. Именно по ней, реально,  учатся Студенты.
   В отличие от Базовой Дисциплины, имеет характеристику кол-ва  часов и привязана  к какому либо Учебному Плану' , @level0type=N'SCHEMA',@level0name=N'vuz', @level1type=N'TABLE',@level1name=N'DISCIPLINE'
GO
USE [master]
GO
